
/* Layout Style */

body {
   font-family: 'NotoSansCJKkr-Regular', 'NanumBarunGothic', sans-serif; 
   color:rgb(100,100,100);
}

.cursor-pointer {
   cursor: pointer;
}

/* Text Style */
@font-face {
   font-family: 'NanumBarunGothic';
   src: url("../font/NanumBarunGothic.woff") format("woff"); }

@font-face {
   font-family: 'NotoSansKR-Bold';
   src: url("../font/NotoSansKR-Bold.woff") format("woff"); }

@font-face {
   font-family: 'NotoSansKR-Medium';
   src: url("../font/NotoSansKR-Medium.woff") format("woff"); }

@font-face {
   font-family: 'NotoSansKR-Regular';
   src: url("../font/NotoSansKR-Regular.woff") format("woff"); }

@font-face {
   font-family: 'Roboto-Bold';
   src: url("../font/Roboto-Bold.woff") format("woff"); }
   
@font-face {
   font-family: 'Roboto-Regular';
   src: url("../font/Roboto-Regular.woff") format("woff"); }

   
@font-face {
   font-family: 'NotoSansCJKkr';
   src: url("../font/NotoSansCJKkr-Regular.woff") format("woff");
}

@font-face {
   font-family: 'NotoSansCJKkr-Medium';
   font-weight:600;
   src: url("../font/NotoSansCJKkr-Medium.woff") format("woff"); }
   
   

