/*레이아웃*/

.wrap{
   width: 100%;
   height: 100%;
}

body {
   width: 100%;
   height: 100%;
   display: block;
}

/* GNB */

.wrap .gnb {
   position: absolute;
   height: 80px;
   top: 0;
   left: 0;
   right: 0;
   z-index: 130;
}

.wrap .gnb h1 a {
   display: block;
   width: 100%;
   height: 100%;
}
.wrap .gnb h1 {
   position: absolute;
   top: 30px;
   left: 30px;
   display: block;
   width: 185px;
   height: 19px;
   background-image: url(../img/NAVERLABS_LOGO_WHITE_v2.png);
   background-size: 185px 19px;
   background-size:185px 19px;
}

.wrap .gnb .btn_language {
   position: absolute;
   top: 25px;
   right: 30px;
   display: block;
   width: 88px;
   height: 30px;
   padding-top: 7px;
   border: 1px solid;
   border-color: rgba(255,255,255,0.5);
   color: #fff;
   font-size: 14px;
   line-height: 1;
   /* line-height값을 사이트처럼 1.2로 주었더니 보더 안에서의 센터가 안맞아서 1로 주었습니다. 왜그런건지...아무래도 폰트 자체의 높이가 원래 사이트와 달라서 아닐까 싶습니다ㅜㅜ */
   text-align: center;
}


/* SECTION 공통 사항 */

.section .container .text_box .title br,
.section .container .text_box .info br {
    display: none;
}
 /* br 태그를 none 명령어를 줬는데도 왜 안 먹히는걸까요?ㅠㅠ*/

.section .container .text_box br.type_large,
.info br.type_large{
    display: block;
}

.section {
   display: block;
   width: 100%;
   position: relative;
}
.section .container {
   position: relative;
   margin: 0 auto;
   width: 1200px;
   height: 100%;
   z-index: 120;
}
.section .container .text_box {
   position: relative;
   overflow: hidden;
   height: 100%;
}  
section .container .text_box .title {
   margin-bottom: 32px;
   font-size: 52px;
   line-height: 1.31;
   font-family: 'Roboto-Bold', sans-serif;
   font-weight: bold;
}
.section .container .text_box .sub_title {
   margin-bottom: 16px;
   display: block;
   font-size: 16px;
   line-height: 1.25;
   font-family: 'NotoSansCJKkr-Regular', sans-serif;
}
.section .container .text_box .info {
   margin-bottom: 56px;
   font-size: 16px;
   line-height: 1.75;
   font-family: 'NotoSansCJKkr-Regular', sans-serif;
}

.section .container .video_box .inner img,
.section .video_box img {
   vertical-align: top;
   width: 100%;
   height: auto;
}

.section .container .text_box .category {
   display: block;
   font-family: 'NotoSansCJKkr-Medium', sans-serif;
   margin-bottom: 24px;
   font-size: 16px;
   line-height: 1.25;
   color: rgb(56, 66, 187);
   font-weight: 600;
}

.section .container .btn_box{
   display: block;
   width: 100%;
   overflow: hidden;
}
.section .container .btn_box a {
   display: block;
   float: left;
   width: 200px;
   height: 56px;
   padding-top: 18px;
   font-size: 16px;
   line-height: 1.25;
   border: 1px solid #000;
   text-align: center;
   font-family: 'NotoSansCJKkr-Medium', sans-serif;
}

.section .container .btn_box a + a {
   margin-left: 8px;
}

.section .container .text_box_notice {
   position: absolute;
   bottom: 24px;
   left: 0;
   display: block;
   overflow: hidden;
}

.section .container .text_box_notice strong {
   display: block;
   float: left;
   margin-right: 20px;
   font-size: 13px;
   line-height: 1.23;
   font-family: 'NotoSansCJKkr', sans-serif;
}

.section .container .text_box_notice ul {
   display: block;
   float: left;
   overflow: hidden;
}
.section .container .text_box_notice ul li {
   display: block;
   margin-left: 16px;
   float: left;
   font-size: 13px;
   line-height: 1.23;
   font-family: 'NotoSansCJKkr', sans-serif;
}
.section .container .text_box_notice ul li:first-child{
   margin-left: 0;
}

.section .container .video_box .inner img.img_mobile{
   display: none;
}
.section .type_mobile_info{
   display: none;
   font-size: 14px;
   line-height: 1.71;
   color: rgba(255,255,255,0.7);
   font-family: 'NotoSansCJKkr', sans-serif;
   text-align: left;
   padding: 0 16px;
}

/* SECTION 1 */

.section1 {
   height: 100%;
   overflow: hidden;
   background-color: #434cc1;
}

.section1 .container .text_box {
   position: absolute;
   top: 50%;
   height: auto;
   margin-top: -264px;
   z-index: 100;
}
.section1 .container .text_box .title {
   margin-bottom: 44px;
   font-size: 80px;
   line-height: 1.2;
   color: rgb(255,255,255)
}
.section1 .container .text_box .info {
   margin-bottom: 0;
   color: rgba(255,255,255,0.7);
}
.section1 .container .btn_scroll {
   display: block;
   width: 100%;
   position: absolute;
   bottom: 54px;
   z-index: 1000;
   text-align: center;
}
.section1 .container .btn_scroll a {
   position: relative;
   display: inline-block;
   vertical-align: top;
   letter-spacing: 1.5px;
   font-size: 13px;
   line-height: 1.23;
   color: rgb(255,255,255);
   font-family: 'Roboto-Regular',sans-serif;
}
.section1 .container .btn_scroll a:after {
   content: '';
   position: absolute;
   top: 22px;
   left: 50%;
   margin-left: -12px;
   display: block;
   width: 24px;
   height: 24px;
   background: url(../img/img_arrow_down.png) no-repeat;
   background-size: 24px 24px;
   -webkit-background-size: 24px 24px;
}

.section1 .video_box {
   overflow: hidden;
   position: absolute;
   top: 50%;
   right: 50%;
   height: 664px;
   width: 664px;
   margin: -332px -601px 0 0;
}

/* SECTION 2 */

.section2 {
   height: 1045px;
   background-color: rgb(240, 242, 246);
}
.section2 .container .text_box {
   padding-top: 120px;
   text-align: center;
}
.section2 .container .text_box .title {
   font-size: 56px;
   line-height: 1.25;
   color: rgb(56, 66, 187);
}
.section2 .container .text_box .sub_title {
   color:rgb(50, 50, 50);
}
.section2 .container .text_box .info {
   color:rgb(100, 100, 100);
}
.section2 .container .video_box {
   position: absolute;
   width: 100%;
   bottom: 120px;
   left: 0;
}
.section2 .container .video_box .inner {
   position: relative; 
   display: block;
   width: 1200px;
   height: 525px;
   margin: 0 auto;
   overflow: hidden;
}
.section2 .container .video_box .inner img {
   display: block;
   width: 1000px;
   height: auto;
   margin: 0 auto 0 163px;
}


/* SECTION 3 */

.section3 {
   height: 800px;
   background-color: rgb(255, 255, 255);
}

.section3 .container .text_box {
   padding: 120px 0;
}

.section3 .container .text_box .title {
   color: rgb(50, 50, 50);
}

.section3 .container .text_box .sub_title {
   color: rgb(50, 50, 50);
}

.section3 .container .text_box .info {
   color: rgb(100, 100, 100);
}
.section3 .container .btn_box a {
   color: #3842bb;
   border-color: #3842bb;
}
.section3 .container .btn_box a:hover{
   background-color: #3842bb;
   color: rgb(255, 255, 255);
}
.section3 .container .text_box_notice {
   color: rgb(150, 150, 150);
}
.section3 .container .video_box {
   position: absolute;
   top: 120px;
   right: 0;
}
.section3 .container .video_box .inner{
   display: block;
   width: 704px;
   height: 560px;
   overflow: hidden;
}

/* SECTION 4 */

.section4 {
   height: 841px;
   background-color: rgb(65, 76, 191);
}
.section4 .container .text_box {
   padding: 120px 0;
}
.section4 .container .text_box .right_box {
   width: 440px;
   float: right;
}
.section4 .container .text_box .category {
   color: rgb(97, 244, 255);
}
.section4 .container .text_box .title {
   color: rgb(255, 255, 255);
}
.section4 .container .text_box .sub_title {
   color: rgb(255, 255, 255);
}
.section4 .container .text_box .info {
   color: rgba(255,255,255,0.7);
}
.section4 .container .btn_box a {
   color: rgb(255, 255, 255);
   border-color: rgb(255, 255, 255);
}
.section4 .container .btn_box a:hover{
   background: rgb(255, 255, 255);
   color: #3842bb;
}
.section4 .container .video_box {
   position: absolute;
   top: 120px;
   left: 0;
}
.section4 .container .video_box{
   position: absolute;
   top: 120px;
   left: 0;
}
.section4 .container .video_box .inner{
   display: block;
   width: 704px;
   height: 560px;
   overflow: hidden;
}

.section5{
    height: 802px;
    background-color: #fff;
}
.section5 .container .video_box{
   position: absolute;
   top: 150px;
   right: 0;
}

/* SECTION 6 */

.section6 {
   height: 986px;
   background-color: rgb(24, 28, 45);
}
.section6 .container .text_box .category {
   color: rgb(98, 110, 255);
   margin-bottom: 22px;
}
.section6 .container .text_box .title {
   color: rgb(255, 255, 255);
   margin-bottom: 22px;
}
.section6 .container .text_box .info {
   color: rgba(255,255,255,0.7);
   margin-bottom: 54px;
}
.section6 .container .text_box_notice {
   color: rgb(150, 150, 150);
}
.section6 .container .btn_box a {
   color: rgb(255, 255, 255);
   border-color: #3842bb;
   background-color: #3842bb;
}
.section6 .container .btn_box a:hover{
   background: rgb(255, 255, 255);
   border-color: rgb(255, 255, 255);
   color: #3842bb;
}
.section6 .container .text_box {
   height: auto;
   padding-top: 120px;
}

.section6 .container .text_box .video_box .inner {
   position: relative;
   display: block;
   width: 560px;
   height: 313px;
   overflow: hidden;
}
.section6 .container .text_box .video_box {
   display: block;
   position: absolute;
   top: 120px;
   right: 0;
}
.section6 .container .text_box.type2 .video_box {
   top: 96px;
   left: 0;
   right: auto;
}
.section6 .container .text_box.type2 {
   padding-top: 96px;
}
.section6 .container .text_box.type2 .right_box{
   float: right;
   width: 572px;
}

/* SECTION 7 */

.section7 {
   height: 532px;
   background: url(../img/img_section7.png) no-repeat;
   background-size: cover;
   background-position: 50% 0;
}

.section7 .container .text_box {
   padding-top: 120px;
   text-align: center;
}

.section7 .container .text_box .title {
   font-size: 52px;
   line-height: 1.15;
   color: rgb(255, 255, 255);
}
.section7 .container .text_box .sub_title {
   color: rgb(255, 255, 255);
}
.section7 .container .text_box .info {
   color: rgba(255,255,255,0.7);
}
.section7 .container .btn_box a{
   float: none;
   width: 280px;
   margin: 0 auto;
   color: rgb(255, 255, 255);
   border-color: rgb(255, 255, 255);
}
.section7 .container .btn_box a:hover{
   background-color: rgb(255, 255, 255);
   color: #3842bb;
}

/* SECTION 8 */

.section8 {
   height: 602px;
   background-color: rgb(240, 242, 246);
}

.section8 .container .list_box{
   padding-top: 120px;
}

.section8 .container .list_box .list_title{
   display:block;
   margin-bottom: 32px;
   font-size: 36px;
   line-height: 1.22;
   color: rgb(50, 50, 50);
   font-family: 'Roboto-Bold', sans-serif;
}
.section8 .container .list_box ul{
   overflow: hidden;
   width: 1200px;
}
.section8 .container .list_box ul li{
   width: 384px;
   float: left;
   margin-left: 24px;
}
.section8 .container .list_box ul li:first-child {
   margin-left: 0;
}
.section8 .container .list_box ul li a {
   display: block;
   width: 100%;
   height: 100%;
}
.section8 .container .list_box ul li a:hover {
   text-decoration: none;
}
.section8 .container .list_box ul li a:hover .img_box img {
   width: 120%;
   height: 120%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.section8 .container .list_box ul li a .img_box {
   position: relative;
   overflow: hidden;
   width: 384px;
   height: 216px;
   margin-bottom: 16px;
}

.section8 .container .list_box ul li a .img_box img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   vertical-align: top;
   transition: width 0.5s, height 0.5s, transform 0.5s;
}
.section8 .container .list_box ul li a .list_info {
   font-size: 16px;
   line-height: 1.75;
   color: rgb(50, 50, 50);
   font-family: 'NotoSansCJKkr', sans-serif;
   word-break: keep-all;
}

/* FOOTER */

#footer {
   position: relative;
   z-index: 2;
   background: rgb(255, 255, 255);
}
#footer .inner {
   overflow: hidden;
   width: auto;
   padding: 30px 30px 34px;
}
#footer .logo {
   float: left;
   width: 127px;
   padding: 2px 0 0 0;
}
#footer .logo a {
   display: block;
   overflow: hidden;
   height: 13px;
   line-height: 999px;
   background: url(../img/logo3.png) no-repeat;
   background-size: 100%;
}
#footer .menu_list {
   float: left;
   margin: -5px 0 0 55px;
}
#footer .menu_list li {
   float: left;
   margin-left: 16px;
}
#footer .menu_list li:first-child {
   margin-left: 0;
}
#footer .menu_list a {
   display: block;
   font-size: 13px;
   font-weight: 700;
   color:  rgb(103, 103, 103);
   padding: 5px 7px;
   font-family: 'NotoSans',Dotum,'돋움',sans-serif;
}
#footer .menu_list a:hover{
   text-decoration: none;
}
#footer .copy {
   float: right;
   font-size: 12px;
   font-weight: 400;
   color: rgb(199, 199, 199);
}


