* {margin: 0; padding: 0; box-sizing: border-box;}

body, html{
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
 }


 a{text-decoration:none}
 /* a:hover,a:active,a:focus{text-decoration:underline} */

div, ul, li {
   background-size: cover;
   background-repeat: no-repeat;
}

ol, ul ,li, dl {
   list-style:none;
   list-style-type:none;
}

button {
   border: 0;
   background: none;
   cursor: pointer;
}

img {
   border-style: none;
   vertical-align:top;
 }

 h1, h2, h3, h4, h5, h6, p , em, ul, ol{
   margin:0;
   padding:0;
 }